
@{
    ViewBag.Title = "CreateEmployee";
}

<h2>Employee Sign In</h2>


@model TrashCollection.Models.EmployeeModel

@{
    ViewBag.Title = "Employee Sign In";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Sign In </h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.EmployeeName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.ValidationMessageFor(model => model.EmployeeName, "Enter your name", new { @class = "text-danger" })
            </div>
        </div>
        //not userinput
        <div class="form-group">
            @Html.LabelFor(model => model.CollectionRouteZip, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.ValidationMessageFor(model => model.CollectionRouteZip, "Enter your zip code", new { @class = "text-danger" })
            </div>
        </div>
   
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Submit" class="btn btn-default" />
            </div>
        </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}